*{
    margin:0px;
    padding:0px;
    --font1:Lato;
    --font2:Raleway;
    
}
body{
    width:100vw;
}
h1{
    font-family:var(--font1);
    font-size:4rem;
}
h4{
    font-family:var(--font2);
    line-height: 20px;
    color:gray;
}
a{
    color:black;
    text-decoration:none;
    font-family:Raleway;
}
p{
    font-family: var(--font2);
}

#header{
    width:100vw;
    height:8vw;
    display:flex;
    position:fixed;
}
#header_img1{
    width: 25%;
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header img{
    width:50%;
}
#header ul{
    display:flex;
    align-items:center;
    justify-content: center;
    height:100%;
}
#header ul li{
    list-style-type:none;
    margin:0 20px;
}

section{
    width:100vw;
    height:100vh;
}
#profile{
    background-color:rgb(157, 186, 206);
    display:flex;
    flex-direction:column;
}


form{
    font-family:var(--font2);
    width:30%;
    height:70vh;
    margin:auto;
    align-items:center;
    justify-content: center;
    border-radius:10%;
}
label{
    margin-left:5%;
}
input{
    width:90%;
    height:30px;
    margin-left:5%; 
     
}
form button{
    margin-top:20px;
    margin-left:30%;
    padding:20px;
    width:40%;
    border-radius:15px;
    color:white;
    background-color:rgb(32, 11, 128);
    border-color:rgb(32, 11, 128);
}

form h1{
    text-align:center;
}

form div{
    margin-top:5vw;
}
#home{
    display:flex;
}
#home_1{
    width:50vw;
}
#home_1 h1{
    width:80%;
    margin-top:20vh;
    margin-left:5vw;
}
#home_1 h4{
    width:80%;
    margin-top:10vh;
    margin-left:5vw;
}

#home_1 a button {
    
    margin-left: 5vh;
    margin-top:5vh;
    padding:20px;
    border-radius:15px;
    color:white;
    background-color:rgb(171, 216, 238);
    border-color:rgb(171, 216, 238);
    
}
#home_2{
    width:50vw;
}
#home_2 img{
    width:inherit;
    padding-top:10vh;
}
#learn{
    display:flex;
}
#learn div{
    padding-top:5vh;
}
#learn div h1{
    padding-left: 5vh;
    padding-top:5vh;
}
#learn div p{
    padding-left: 5vh;
    padding-top:5vh;
    width:40%;
}
#learn div img{
    float:right;
    
}
#learn div a button{
    margin-left: 5vh;
    margin-top:15vh;
    padding:20px;
    border-radius:15px;
    color:white;
    background-color:rgb(171, 216, 238);
    border-color:rgb(171, 216, 238);
}
#resources_1{
    display:flex;
    margin:0 auto;
    width:93vw;
}
#resources h1{
    padding-left: 6vh;
    padding-top:10vh;
}
#resources_1 div{
    margin:5px;
    width:22vw;
    height:22vw;
    text-align: center;
}
#resources_1 div div{
    width:22vw;
    height:21vw;
    background-color:gray;
    border-radius:10%;
}
#resources_1 div button{
    margin-top:20px;
    padding:20px;
    width:98%;
    border-radius:15px;
    color:white;
    background-color:rgb(32, 11, 128);
    border-color:rgb(32, 11, 128);
}
#links{
    margin-top:12%;
    margin-left:5%;
    display:block;
    width:70%;
}
#links a{
    color:rgb(32, 11, 128);
}

#book_session{
    display:flex;
}
#book_session_1{
    align-items: center;
    justify-content: center;
    width:50vw;
}
#book_session_2{
    width:50vw;
}
#book_session_2 img{
    width:inherit;
}
#book_session_1_1{
    width:85%;
    margin-top:20vh;
    margin-left:5vw;
    height:25%;
}
#book_session_1_1 a button{
    padding:20px;
    border-radius:15px;
    color:white;
    background-color:rgb(171, 216, 238);
    border-color:rgb(171, 216, 238);
}
#book_session_1_2{
    width:85%;
    margin-top:15vh;
    margin-left:5vw;
    height:15%;
}
#book_session_2 {
    width:50vw;
}
#book_session_2 div{
    width:inherit;
}
#book_session_2 div img{
    width:inherit;
    padding-top:10vh;
}

#tutors_1{
    display:flex;
    margin:0 auto;
    width:93vw;
}
#tutors h1{
    padding-left: 6vh;
    padding-top:10vh;
}
#tutors_1 div{
    margin:5px;
    width:18vw;
    height:18vw;
    text-align: center;
}
#tutors_1 div div{
    width:16vw;
    height:17vw;
    background-color:gray;
    border-radius:50%;
}
#tutors_1 div div img{
    width:inherit;
    height:inherit;
    border-radius:50%;
}
#tutors_1 div a button{
    margin-top:20px;
    padding:20px;
    width:98%;
    border-radius:15px;
    color:white;
    background-color:rgb(32, 11, 128);
    border-color:rgb(32, 11, 128);
}
footer{
    width:100%;
    height:6vw;
    position:fixed;
    bottom:0px;
}
footer div{
    
    float:right;
    height: inherit;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div img{
    margin:0px 15px;
}
#videos div{
    
    display:flex;
    height:100vh;
}
#videos div iframe{
    width:70%;
    height:70%;
    margin:auto;
}

@media(max-width:500px){
    body{
        width:100%;
    }
    h1{
        font-family:var(--font1);
        font-size:2rem;
    }
    header{
        width:100vw;
    }
    #header ul a{
        font-size:12px;
    }
    #home{
        background-color:rgb(222, 230, 232);
    }
    
    #learn{
        display:flex;
        flex-direction:column;
        height:100%;
    }
    #resources{
        height:102%;
        background-color:rgb(222, 230, 232);
    }
    #resources_1{
        display:flex;
        flex-direction:column;
        width:80%;
        margin:0 auto;
    }
    #resources_1 div{
        width:90%;
        height:400px;
        margin:30px 10px;
    }
    #resources_1 div div{
        width:100%;
        height:60%;
    }
    #resources_1 div button{
        width: 100%;
        margin: 0 10px;

    }
    #resources_1 div h4{
        margin: 10px 20px;
    }
    #links{
        display:none;
    }
    #tutors{
        height:100%;
        background-color:rgb(222, 230, 232);
    }
    #tutors_1{
        display:flex;
        flex-direction:column;
        width:80%;
        margin:0 auto;
    }
    #tutors_1 div{
        width:90%;
        height:400px;
        margin:30px 10px;
    }
    #tutors_1 div div{
        width:90%;
        height:65%;
    }
    #tutors_1 div button{
        width: 100%;
        margin: 0 10px;
    }
    #tutors_1 div h4{
        margin: 10px 20px;
    }
    #videos{
        height:100%;
    }
    form{
        margin: auto;
        width: 70%;
    }

}